body {
  padding-top: 50px;
}

.nav-custom {
	padding-top: 40px;
}

.carousel {
  margin-bottom: 30px;
}

.col-md-3,
.col-sm-6 {
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 386px) {
  .carousel-caption {
    right: 10%;
    left: 10%;
  }
}

@media screen and (max-width: 340px) {
  .carousel-caption {
    right: 5%;
    left: 5%;
  }
}

@media screen and (max-width: 300px) {
  .carousel-caption {
    bottom: 10px;
  }
}
